<section class="content-header">
  <p id="notice"><%= notice %></p>
  <h1><%= @data_type.name %></h1>
  <%= link_to 'Add Data', new_data_type_sensor_datum_path(data_type_id: @data_type.id, sensor_id: params[:sensor_id])%>
  <%= link_to 'Edit', edit_data_type_path(@data_type) %> |
  <%= link_to 'Back', data_types_path %>
</section>

<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        データ一覧
      </div>
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table id="data-info" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="data_info">
                <thead>
                <tr role="row">
                  <th class="sorting" tabindex="0" aria-controls="data-info" rowspan="1" colspan="1">ID</th>
                  <th class="sorting" tabindex="0" aria-controls="data-info" rowspan="1" colspan="1">sensor ID</th>
                  <th class="sorting" tabindex="0" aria-controls="data-info" rowspan="1" colspan="1">data</th>
                  <th class="sorting" tabindex="0" aria-controls="data-info" rowspan="1" colspan="1">captured_at</th>
                </tr>
                </thead>
                <tbody>
                <% @data.each do |datum| %>
                  <tr role="row">
                    <td><%= datum.id %></td>
                    <td><%= datum.sensor_id %></td>
                    <td><%= datum.data %></td>
                    <td><%= datum.captured_at %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>