<section class="content-header">
  <h1>Listing Machine Types</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <p id="notice"><%= notice %></p>

  <table>
    <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
    </thead>

    <tbody>
    <% @machine_types.each do |machine_type| %>
        <tr>
          <td><%= machine_type.id %></td>
          <td><%= machine_type.name %></td>
          <td><%= link_to 'Show', machine_type %></td>
          <td><%= link_to 'Edit', edit_machine_type_path(machine_type) %></td>
          <td><%= link_to 'Destroy', machine_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Machine type', new_machine_type_path %>
</section>